
<div class="container">
    <div class="row">
        <div class="col-xl-12">

            <label for="num1" class="my-2">Num1</label>
            <input id="num1" type="number" class="form-control" [(ngModel)]=a>
            <label for="num2" class="my-2">Num2</label>
            <input id="num2" type="number" class="form-control mb-2" [(ngModel)]=b>

            <button class="btn btn-outline-primary my-2 ms-2" (click)="Addition(a,b)">Addition</button>
            <button class="btn btn-outline-primary my-2 ms-2" (click)="Subtraction(a,b)">Subtraction</button>
            <button class="btn btn-outline-primary my-2 ms-2" (click)="Multiplication(a,b)">Multiplication</button>
            <button class="btn btn-outline-primary my-2 ms-2" (click)="Division(a,b)">Division</button>

            <input type="text" class="form-control my-2" value="Answer : {{ result }}">

        </div>
    </div>
</div>

