<div class="row">
    <div class="col-xl-3">
        <div class="sidebar">
            <div>
                <ul>
                    <li><a routerLink="htmlday1">Assignment Day-1</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-9">
        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="footer text-center pt-4">
            <p>Copyright@ AllRightReserved</p>
        </div>
    </div>
</div>