<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <p>Student FirstName : {{studentData[0].firstname}}</p>
            <p>Student MiddleName : {{studentData[0].middlename}}</p>
            <p>Student LastName : {{studentData[0].lastname}}</p>
            <p>Student DateOfBirth : {{studentData[0].dateofbirth}}</p>
            <p>Student PlaceOfBirth : {{studentData[0].placeofbirth}}</p>
            <p>Student First Language : {{studentData[0].firstlanguage}}</p>
            <p>Father's FirstName : {{studentData[0].fatherfirstname}}</p>
            <p>Mother's FirstName : {{studentData[0].motherfirstname}}</p>
        </div>
    </div>
</div>

