<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div id="header">
                <img src="/CSS/Vipul Dabhi/Assets/ccd logo.jpg" alt="Cafe Coffee Day Logo">
                <div id="nav">
                    <div id="home"><a href="home.html" target="_blank">Home</a></div>
                    <div id="aboutus"><a href="aboutus.html" target="_blank">About Us</a></div>
                    <div id="contactus"><a href="contactus.html" target="_blank">Contact Us</a></div>
                </div>
            </div>
        
            <div id="leftbar"></div>
            <div id="sidebar"></div>
        
            <footer></footer>
        </div>
    </div>
</div>