<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <!-- Create Responsive Layout with Navigation. Image will be shared through redmine. -->

            <div id="container">
                <nav id="nav">
                    <ul type="none">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">AboutUS</a></li>
                        <li><a href="#">ContactUs</a></li>
                    </ul>
                </nav>
                <main id="main">main</main>
                <div id="sidebar">sidebar</div>
                <footer id="footer">footer</footer>
            </div>
        </div>
    </div>
</div>