<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <form id="EmployeeDetails">
                <label for="EmployeeName">EmployeeName:</label>
                <input type="text" id="EmployeeName" required /> <br />
                <label for="age">age:</label>
                <input type="number" id="age" required /> <br />
                <label for="gender">gender:</label>
                <input type="radio" id="gender" name="gender" value="male" required />
                <label for="gender">male</label>
                <input type="radio" id="gender" name="gender" value="female" required />
                <label for="gender">female</label> <br />
                <label for="designation">designation:</label>
                <input type="text" id="designation" required /> <br />
                <label for="Salary">Salary:</label>
                <input type="text" id="Salary" required /> <br />
                <label for="location">location:</label>
                <input type="text" list="datalist" />
                <datalist id="datalist">
                    <option label="Ahmedabad" value="ahmedabad"></option>
                    <option label="Surat" value="surat"></option>
                    <option label="Rajkot" value="rajkot"></option>
                </datalist> <br />
                <label for="email">EmailID:</label>
                <input type="email" id="email" required /> <br />
                <label for="dateofjoining">DateOfJoining:</label>
                <input type="date" id="dateofjoining" required /> <br />
                <label for="contactnumber">contact number:</label>
                <input type="text" id="contactnumber" required />
                <input type="submit" id="submit" />
            </form>
        </div>
    </div>
</div>

