<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto">

            <form  [formGroup]="studentForm" (ngSubmit)="onSubmit()">
                <h2 class="text-center mt-4">Student's Details</h2>
                <div class="form-group mb-3">
                    <label for="firstname" class="form-label">FirstName</label>
                    <input type="text" id="firstname"
                    class="form-control" placeholder="Enter FirstName" formControlName="firstname">
                    <div *ngIf="firstname!==null">
                        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
                            class="text-danger m-0 p-0 ms-1 mt-1">
                            <div *ngIf="firstname.errors?.['required']">
                                FirstName is required.
                            </div>
                            <div *ngIf="firstname.errors?.['pattern']">
                                FirstName can't contain digit or Whitespace.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="middlename" class="form-label">MiddleName</label>
                    <input type="text" id="middlename"
                    class="form-control" placeholder="Enter MiddleName" formControlName="middlename">
                    <div *ngIf="middlename!==null">
                        <div *ngIf="middlename.invalid && (middlename.dirty || middlename.touched)"
                            class="text-danger m-0 p-0 ms-1 mt-1">
                            <div *ngIf="middlename.errors?.['required']">
                                MiddleName is required.
                            </div>
                            <div *ngIf="middlename.errors?.['pattern']">
                                MiddleName can't contain digit or Whitespace.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="lastname" class="form-label">LastName</label>
                    <input type="text" id="lastname"
                    class="form-control" placeholder="Enter LastName" formControlName="lastname">
                    <div *ngIf="lastname!==null">
                        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
                            class="text-danger m-0 p-0 ms-1 mt-1">
                            <div *ngIf="lastname.errors?.['required']">
                                LastName is required.
                            </div>
                            <div *ngIf="lastname.errors?.['pattern']">
                                LastName can't contain digit or Whitespace.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="dateofbirth" class="form-label">DateOfBirth</label>
                    <input type="date" id="dateofbirth"
                    class="form-control" placeholder="Enter DateOfBirth" formControlName="dateofbirth">
                </div>
                <div class="form-group mb-3">
                    <label for="placeofbirth" class="form-label">PlaceOfBirth</label>
                    <input type="text" id="placeofbirth"
                    class="form-control" placeholder="Enter PlaceOfBirth" formControlName="placeofbirth">
                    <div *ngIf="placeofbirth!==null">
                        <div *ngIf="placeofbirth.invalid && (placeofbirth.dirty || placeofbirth.touched)"
                            class="text-danger m-0 p-0 ms-1 mt-1">
                            <div *ngIf="placeofbirth.errors?.['required']">
                                PlaceOfBirth is required.
                            </div>
                            <div *ngIf="placeofbirth.errors?.['pattern']">
                                PlaceOfBirth can't contain digit or Whitespace.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="firstlanguage" class="form-label">First Language</label>
                    <input type="text" id="firstlanguage"
                    class="form-control" placeholder="Enter First Language" formControlName="firstlanguage">
                    <div *ngIf="firstlanguage!==null">
                        <div *ngIf="firstlanguage.invalid && (firstlanguage.dirty || firstlanguage.touched)"
                            class="text-danger m-0 p-0 ms-1 mt-1">
                            <div *ngIf="firstlanguage.errors?.['required']">
                                First Language is required.
                            </div>
                            <div *ngIf="firstlanguage.errors?.['pattern']">
                                First Language can't contain digit or Whitespace.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3" formGroupName="address">
                    <h2 class="text-center mt-4">Address</h2>
                  
                    <label for="city" class="form-label">City: </label>
                    <input id="city" type="text" class="form-control" formControlName="city"
                     placeholder="Enter City">
                  
                    <label for="state" class="form-label">State: </label>
                    <input id="state" type="text" class="form-control" formControlName="state"
                     placeholder="Enter State">
                  
                    <label for="country" class="form-label">Country: </label>
                    <input id="country" type="text" class="form-control" formControlName="country"
                     placeholder="Enter Country">
                    
                    <label for="pin" class="form-label">Pin: </label>
                    <input id="pin" type="text" class="form-control" formControlName="pin"
                     placeholder="Enter Pin">
                </div>
                <div class="form-group mb-3" formGroupName="father">
                    <h2 class="text-center mt-4">Father's Details</h2>

                    <label for="firstname" class="form-label">FirstName</label>
                    <input type="text" id="firstname"
                    class="form-control" placeholder="Enter FirstName" 
                    formControlName="firstname">

                    <label for="middlename" class="form-label">MiddleName</label>
                    <input type="text" id="middlename"
                    class="form-control" placeholder="Enter MiddleName" 
                    formControlName="middlename">
                    
                    <label for="lastname" class="form-label">LastName</label>
                    <input type="text" id="lastname"
                    class="form-control" placeholder="Enter LastName" 
                    formControlName="lastname">

                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" 
                    id="email" placeholder="Enter Email Address" 
                    formControlName="email">

                    <label for="qualification" class="form-label">Education Qualification</label>
                    <input type="text" class="form-control" 
                    id="qualification" placeholder="Enter Education Qualification" 
                    formControlName="qualification">

                    <label for="profession" class="form-label">Profession</label>
                    <input type="text" class="form-control" 
                    id="profession" placeholder="Enter Profession" 
                    formControlName="profession">

                    <label for="designation" class="form-label">Designation</label>
                    <input type="text" class="form-control" 
                    id="designation" placeholder="Enter Designation" 
                    formControlName="designation">

                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" 
                    id="phone" placeholder="Enter Phone Number" 
                    formControlName="phone">
                </div>  
                <div class="form-group mb-3" formGroupName="mother">
                    <h2 class="text-center mt-4">Mother's Details</h2>

                    <label for="firstname" class="form-label">FirstName</label>
                    <input type="text" id="firstname"
                    class="form-control" placeholder="Enter FirstName" 
                    formControlName="firstname">

                    <label for="middlename" class="form-label">MiddleName</label>
                    <input type="text" id="middlename"
                    class="form-control" placeholder="Enter MiddleName" 
                    formControlName="middlename">
                    
                    <label for="lastname" class="form-label">LastName</label>
                    <input type="text" id="lastname"
                    class="form-control" placeholder="Enter LastName" 
                    formControlName="lastname">

                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" 
                    id="email" placeholder="Enter Email Address" 
                    formControlName="email">

                    <label for="qualification" class="form-label">Education Qualification</label>
                    <input type="text" class="form-control" 
                    id="qualification" placeholder="Enter Education Qualification" 
                    formControlName="qualification">

                    <label for="profession" class="form-label">Profession</label>
                    <input type="text" class="form-control" 
                    id="profession" placeholder="Enter Profession" 
                    formControlName="profession">

                    <label for="designation" class="form-label">Designation</label>
                    <input type="text" class="form-control" 
                    id="designation" placeholder="Enter Designation" 
                    formControlName="designation">
                    
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" 
                    id="phone" placeholder="Enter Phone Number" 
                    formControlName="phone">
                </div>  
                <div>
                    <h5 class="text-center mt-4">Emergency Contact List</h5>
                    <div formArrayName="emergency"  *ngFor="let value of emergency.controls; let i=index">
                        
                        <p class="fw-bold mt-3">Contact{{i+1}}</p>
                            <div class="form-group" [formGroupName]="i">
                                <label for="relation" class="form-label">Relation</label>
                                <input type="text" class="form-control" 
                                id="relation" placeholder="Enter Relation" 
                                formControlName="relation">

                                <label for="phone" class="form-label">Phone Number</label>
                                <input type="text" class="form-control" 
                                id="phone" placeholder="Enter Phone Number" 
                                formControlName="phone">
                            </div>
                        <!-- <button type="button" class="btn btn-primary" (click)="addContact()">Add Contact</button> -->
                    </div>
                </div>
                <div class="form-group mb-3" formGroupName="reference">
                    <h2 class="text-center mt-4">Reference Details</h2>

                    <label for="refdetails" class="form-label">Reference Details</label>
                    <input type="text" class="form-control" 
                    id="refdetails" placeholder="Enter Reference Details" 
                    formControlName="refdetails">

                    <label for="refthrough" class="form-label">Reference Through</label>
                    <input type="text" class="form-control" 
                    id="refthrough" placeholder="Enter Reference Through" 
                    formControlName="refthrough">

                    <label for="refaddress" class="form-label">Address</label>
                    <input type="text" class="form-control" 
                    id="refaddress" placeholder="Enter Address" 
                    formControlName="refaddress">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>


        <div class="col-sm-12 my-5">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>MiddleName</th>
                        <th>DateOfBirth</th>
                        <th>PlaceOfBirth</th>
                        <th>First Language</th>
                        <th>Address</th>
                        <th>Father Details</th>
                        <th>Mother Dfatheretails</th>
                    </tr>
                </thead>
                <tbody  *ngFor="let i of StudentList">
                    <tr>
                        <td>{{i.firstname}}</td>
                        <td>{{i.lastname}}</td>
                        <td>{{i.middlename}}</td>
                        <td>{{i.dateofbirth}}</td>
                        <td>{{i.placeofbirth}}</td>
                        <td>{{i.firstlanguage}}</td>
                        <td>
                            <table>
                                <tr>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Country</th>
                                    <th>Pin</th>
                                </tr>
                                <tr>
                                    <td>{{i.address.city}}</td>
                                    <td>{{i.address.state}}</td>
                                    <td>{{i.address.country}}</td>
                                    <td>{{i.address.pin}}</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Qualification</th>
                                    <th>Profession</th>
                                    <th>Designation</th>
                                    <th>Phone</th>
                                </tr>
                                <tr>
                                    <td>{{i.father.firstname}}</td>
                                    <td>{{i.father.email}}</td>
                                    <td>{{i.father.qualification}}</td>
                                    <td>{{i.father.profession}}</td>
                                    <td>{{i.father.designation}}</td>
                                    <td>{{i.father.phone}}</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Qualification</th>
                                    <th>Profession</th>
                                    <th>Designation</th>
                                    <th>Phone</th>
                                </tr>
                                <tr>
                                    <td>{{i.mother.firstname}}</td>
                                    <td>{{i.mother.email}}</td>
                                    <td>{{i.mother.qualification}}</td>
                                    <td>{{i.mother.profession}}</td>
                                    <td>{{i.mother.designation}}</td>
                                    <td>{{i.mother.phone}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
