#container1 {
    display: flex;
}

#container1 div {
    background-color: rgb(241, 231, 189);
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    justify-content: left;
}

@media (max-width: 600px) {
    div {
        flex-direction: column;
        flex: 100%;
    }
}