<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>CSS Assignments</h1>
            <button class="btn btn-info my-3" (click)="navigateToDay1()">Assignment Day-1</button>
            <br />
            <button class="btn btn-info my-3" (click)="navigateToDay2()">Assignment Day-2</button>
            <br />
            <button class="btn btn-info my-3" (click)="navigateToDay3()">Assignment Day-3</button>
            <br />
            <button class="btn btn-info my-3" (click)="navigateToDay4()">Assignment Day-4</button>
        </div>
    </div>
</div>
