*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.6fr 4fr 0.6fr;
    grid-template-areas: 
    "nav nav"
    "sidebar main"
    "sidebar footer";
    
}
nav{
    background-color: rgb(240, 241, 247);
    grid-area: nav;
    height: 100px;
    
}
nav div{
    color: white;
    display: inline-block;
    position: relative;
    left: 700px;
    top: 0px;
    font-size: 40px;
    padding: 50px;
}
main{
    background-color:white;
    grid-area: main;
    overflow: auto;
}
#sidebar{
    background-color: rgb(97, 223, 223);
    grid-area: sidebar;
    overflow: auto;
}
#sidebar li{
    margin-left:10px;
    padding: 5px;
}
footer{
    background-color: darkcyan;
    grid-area: footer;
}
footer p{
    margin-top: 20px;
    text-align: center;
}