*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
    background-color: bisque;
    height: 472px;
    overflow: auto;
}
.main{
    height: 472px;
    overflow: auto;
}   
.footer{
    background-color: cadetblue;
    height: 80px;
  
}
ul{
    margin-top: 50px;
    margin-left: 50px;
}