<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div>
                <h3>Dabhi Vipul Bharatbhai</h3>
                <h4>vipuldabhi5560@gmail.com</h4>
                <h4>9106779292</h4>
                <h4>koli pa,at-Bhrugupur,ta-Chuda,dist-Surendranagar</h4>
            </div>
            <hr />
            <h2>Objective</h2>
            <p>-To work in an environment which encourages me to succeed and grow professionally
                where I can utilize my skills and knowledge appropriately.
            </p>
            <hr />
            <h2>Education</h2>
            <ul>
                <li>2020-2021
                    <ul>
                        <li>GTU</li>
                        <li>Computer Engineering</li>
                        <li>CGPA:7.83</li>
                    </ul>
                </li>
                <li>2017
                    <ul>
                        <li>Maruti Science Acaddemy</li>
                        <li>HSC</li>
                        <li>46%</li>
                    </ul>
                </li>
                <li>2015
                    <ul>
                        <li>Brahamanand Vidhyalay</li>
                        <li>SSC</li>
                        <li>77%</li>
                    </ul>
                </li>
            </ul>
            <hr />
            <h2>Skills</h2>
            <ul type="circle">
                <li>java Scripts</li>
                <li>Node.js</li>
                <li>Python Programming Language</li>
                <li>Familiar with Visual Studio Code , Sublime text</li>
                <li>Basics Of C Programming</li>
                <li>Basics of CSS and HTML</li>
            </ul>
            <hr />
            <h2>Project</h2>
            <ul type="circle">
                <li>
                    <dl>
                        <dl>Online Crime Reporting</dl>
                        <dd>In this Project We can Implimented a Website for Online Crime Reporting. With the
                            help of Python Programming language in django framework.</dd>

                    </dl>
                </li>
            </ul>
            <hr />
            <h2>language</h2>
            <ul type="circle">
                <li>Gujarati</li>
                <li>Hindi</li>
                <li>English</li>
            </ul>
            <hr />
            <h2>Interests</h2>
            <ul type="circle">
                <li>Drawing</li>
                <li>Surfing through internet</li>
                <li>Volunteering in social events</li>
            </ul>
            <hr />
            <h2>Activities</h2>
            <ul>
                <li>Participeted in GTU Central Techfest'18 For C-QUIZ AND CRYPTOHUNT</li>
                <li>Also in LAKSHYA TechFest 2020 for CODE SWAP , INSIGHT CODING AND IT QUIZ</li>
                <li>Apart from technical activity , i would like to do a farming activity in my free time</li>
            </ul>
        </div>
    </div>
</div>