<div class="container mt-3">

    <div class="left-bar">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/Images/add1.jpg" class="card-img-top container-fluid" alt="add-1">
            <div class="card-body">
              <p class="card-text">Description Of Flipkart Add</p>
            </div>
        </div>
        <div class="card my-2" style="width: 18rem;">
            <img src="../../assets/Images/add2.jpg" class="card-img-top container-fluid" alt="add-2">
            <div class="card-body">
              <p class="card-text">Description Of Amazon Add</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/Images/add3.jpg" class="card-img-top container-fluid" alt="add-3">
            <div class="card-body">
              <p class="card-text">Description Of Myntra Add</p>
            </div>
        </div>
    </div>
 
</div>
