<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div>
                <h1>Colors Component</h1>
            </div>
            <div>
                <nav>
                    <ul>
                        <li><a routerLink="colorsdetails">Colors Details</a></li>
                        <li><a routerLink="colorsquantiry">Colors Quantity</a></li>
                        <li><a routerLink="../home">Home Component</a></li>
                    </ul>
                </nav>
            </div>
            <div class="mt-4">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
